body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

#contenedor-historia {
    padding-top: 90px; /* Ajusta el padding superior para evitar que el contenido se superponga con la barra de navegación */
}

#parrafo{
	border: solid 3px;
	border-color:black;
	background-color: aqua;
	right: 1%;
	position: fixed;
	top: 13%;
	transition: all 0.2s ease;
}

.content {
	padding-top: 10px; /* Ajusta el padding superior para evitar que el contenido se superponga con la barra de navegación */
}